.footer{
    max-height: 300px;
    background-color: black;
}
.footer .foot-img{
    max-height: 150px;
}
.footer .foot-img:hover{
   opacity: 0.5;
}
.fa-facebook-f{
    width: 20px;
    height: 20px;}


