
/*Styles for home page*/
 .home-style{
    background-color: #eeeeee;
    font-family: "futura-pt-condensed",Futura,sans-serif;
    color: rgb(92, 92, 92);
 }
.posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 .posts-news{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;
}
.posts .posts-news img{
   height: 30px;
   margin-right: 5px;
}

.posts .post{   
    width: 70%;
    background-color: white;
    border-radius: 6px;
    margin:10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px;
}
.posts .post-footer{
    display: flex;
    justify-content: space-between;
}
.posts .post-footer a{
    background: none;
    text-decoration: none;
    color: black;
    line-height: 1;
}
.load-more{
    width: 30%;
    height: 50px;
    border: 1px solid black;
    background: transparent;
    margin: 20px auto;
    transition: all 0.2s ease;
    font-size: 1.1em;
    letter-spacing: .04em;
    border-radius: 6px;
    font-family: "futura-pt-condensed",Futura,sans-serif;
    text-transform: uppercase;
}
.load-more:hover{
    background: black;
    color: white;
}
/********************************/


/*Styles for post page*/
.posts-page{
    font-family: "futura-pt-condensed",Futura,sans-serif;
    color: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}
.post-page{
    width: 70%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
   
}
.post-page .post-img{
    margin: 0 auto;
    border-radius: 10px;
    max-width: 70%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post-page p{
    margin: 0 auto;
    font-size: 1.2em;
    max-width: 75%;
    margin-bottom: 20px;
}
/********************************/



  /*Styles for Search*/

  input[type=search] {

	font-size: 1em;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 20%;
	border-radius: 10em;
	transition: all .5s;
}
input[type=search]:focus {
    outline:none;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


@media screen and (max-width: 600px) {
    .posts .post{   
        width: 90%;
    }
    .member-block{
        width: 90%;
        font-size: 0.6em;
    }
    .member-block img{
        width: 40%;
        height: 200px;
    }
    .member-info{
    margin-top: 10px;
        margin-left: 0px;
    }
   .member-story{
    font-size: 1.5em;
   }
   .story{
    font-size: 0.8em; 
   }
   input[type=search] {
	
	width: 30%;
}
    .post-page{
        width: 90%;
        font-size: 0.6em;
    
    }
  }
  @media screen and (min-width: 600px)
                and (max-width: 1500px){
    .member-block{
        width: 70%;
        font-size: 1em;
    }
    .member-block img{
        width: 35%;
        height: 350px;
    }
    .member-info{
        margin-top: 10px;
        margin-left: 0px;
    }
  }