img {
  vertical-align: middle;
  max-width: 100%;

}
.player {
  background-color: #eeeeee;
  position: relative;
  font-family: "futura-pt-condensed",Futura,sans-serif;
}
.player__title {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin: 0 auto;

}
.player__items {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  
}
.audio-bubble, .audio-bubble--active {
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  padding: 20px;
  background-color: white;
  width: 50%;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio-bubble__button {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: white;
  width: 20%;
  height: 150px;
  cursor: pointer;
  outline: 0;
  border-radius: 6px;
  padding: 0;
  position: relative;
}


.audio-bubble__image {
  width: 100%; 
  height: 150px;
  transition: opacity 0.4s ease;
}
.audio-bubble:not(.audio-bubble--active):hover .audio-bubble__image {
  opacity: 0.75;
}
.audio-bubble__meta {
  color: #333;
  text-align: left;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-left: 20px;
}
.audio-bubble--active .audio-bubble__meta {
  transform: translateY(1.5rem);
}

.audio-bubble__progress {
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  transform: rotate(-90deg);
}
.audio-bubble__progress circle {
  stroke: rgba(250, 210, 88, 1.0);
  stroke-dasharray: 608;
}
.audio-bubble:not(.audio-bubble--active) .audio-bubble__progress {
  opacity: 0;
}
.audio-bubble__play, .audio-bubble__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.audio-bubble__play {
  width: 17.5%;
}
.audio-bubble__pause {
  width: 12%;
}
.audio-bubble__title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.375rem;

}
.audio-bubble__subtitle {
  font-size: 0.875em;

}

.player .member-name input {
 position: relative;
 left: 20%;
}

/* MEDIA */



@media all and (max-width: 1024px) {
  .audio-bubble, .audio-bubble--active {
      width: 70%;
      height: 100px;
  }
  .audio-bubble__image {
    height: 100px;
  }
  .audio-bubble__button {
    height: 100px;
  }
}

@media all and (max-width: 768px) {
  .player__items {
      flex-direction: column;
      align-items: center;
  }
  .audio-bubble, .audio-bubble--active {
      width: 80%;
  }

}
